* {
    font-family: 'Roboto',
        sans-serif;
}

/* Header */
.header {
    height: 90px;
    background: #FFFFFF;
    position: sticky;
    z-index: 2;
    top: 0;
}

#header-logo {
    max-height: 70px;
    max-width: 70px;
    justify-content: center;
    margin: auto 10px;
}

.header .nav-title-1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header .nav-title-2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 18px;
    color: #000000;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header .nav-link {
    margin: 15px;
    font-size: 18px;
    font-style: medium;
    color: black !important;
}

/* Slider */
.carousel-item {
    height: 90vh;
}

.carousel-item .view img {
    width: auto;
    height: 100%
}

.carousel-caption {
    text-align: left;
    max-width: 500px;
}

.carousel-caption .display-4 {
    font-weight: 500;
    font-size: 40px;
    margin-top: -5em;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.carousel-caption .lead {
    font-weight: 500;
}

/* Section Pendidikan */

.pendidikan .card {
    height: 300px;
    margin: 0 20px;
}

.pendidikan .card-body-pendidikan {
    height: fit-content;
    margin: auto;
    padding: 20px;
}

.pendidikan .card-text {
    margin: 5px 25px;
}

.card-pend-1 {
    background: linear-gradient(rgba(189, 79, 79, 0.6), rgba(189, 79, 79, 0.6)),
        url('../img/back-pendidikan.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.card-pend-2 {
    background: linear-gradient(rgba(40, 35, 99, 0.6), rgba(40, 35, 99, 0.6)),
        url('../img/back-pendidikan.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.card-pend-3 {
    background: linear-gradient(rgba(88, 115, 162, 0.6), rgba(88, 115, 162, 0.6)),
        url('../img/back-pendidikan.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

/* Berita */


.article-img img {
    width: 100%;
    height: 100%;
}

.btn-next-news {
    background-color: #4F8A8B;
    color: #FFFF;
    border-radius: 10px;
    padding: 5px 25px;
    width: fit-content;
    margin-left: auto;
}

.section-title-2 {
    height: 50px;
    line-height: 50px;
}

.news span {
    color: rgb(167, 164, 164);
    font-size: 12px;
}

/* Agenda Carousel */

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -20px;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 30%;
}

.owl-next span,
.owl-prev span {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.3);
    border: none;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
    border: none;
}

.agenda-carousel {
    padding: 0 100px;
}

.agenda-carousel .card-header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: 500;
}

.agenda .card-body {
    background: linear-gradient(42.67deg, rgba(0, 0, 0, 0.5) 42.97%, rgba(0, 0, 0, 0.5) 58.86%, rgba(196, 196, 196, 0) 79.73%), url('../img/agenda.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

/* footer */
.module-info {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;

}

.module-info li i {
    float: left;
    margin-right: 10px;
    width: 16px;
    font-size: 20px;
    text-align: center;
    /* color: white; */

}

.module-info li .text {
    display: block;
    overflow: hidden;
    color: black !important;
}

.module-info li .text a {
    color: black
}


/* Banner Berita */

.latest-news {
    width: fit-content;
}

.banner-berita {
    background: linear-gradient(56.87deg, rgba(0, 0, 0, 0.6) 45.34%, rgba(0, 0, 0, 0.313573) 57.29%, rgba(0, 0, 0, 0) 82.62%), url('../img/carousel/carousel1.svg');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.banner-caption {
    margin-top: 7rem;
    max-width: 70%;
    text-decoration: none;
}

.banner-berita p {
    font-size: 18px;
}

/* Pagination Berita */
.pagination-circle .page-link {
    border-radius: 50%;
    margin: 5px;
}

.page-item.active .page-link {
    background-color: #4F8A8B !important;
    border: #4F8A8B;
}

@media (max-width: 780.98px) {
    .header {
        height: 70px;
        z-index: 2;
    }

    .navbar-brand {
        justify-content: center !important;
    }

    #header-logo {
        max-height: 50px;
        max-width: 50px;
    }

    .header .nav-title-1 {
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
    }

    .header .nav-title-2 {
        font-weight: 500;
        font-size: 16px;
    }

    .header .nav-link {
        font-size: 14px;
        text-align: right;
    }

    .carousel-item {
        height: 60vh;
    }

    .carousel-caption .display-4 {
        margin-top: 0;
        font-size: 30px;
    }

    .carousel-caption .lead {
        font-size: 18px !important;
        font-weight: 400;
    }

    /* Pendidikan Section */
    .section-title h2 {
        font-size: 26px !important;
    }

    .pendidikan .card {
        max-height: 200px;
        margin: 5px 5px;
    }

    .pendidikan .card .card-text {
        display: none;
    }

    .pendidikan .card-body-pendidikan {
        padding: 10px;
    }

    .card-body-pendidikan h4 {
        font-size: 20px;
    }

    .pendidikan .card-text {
        margin: 5px;
        font-size: 14px;
    }

    /* Berita */

    .berita {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .section-title-1 h2 {
        font-size: 26px !important;
    }

    .section-title-2 h4 {
        font-size: 20px !important;
    }

    .btn-next-news {
        font-size: 12px;
        margin: 0 auto;
    }

    /* Agenda Carousel */
    .agenda-carousel {
        padding: 0 50px;
    }
}

@media (max-width: 575.98px) {
    .header {
        height: 70px;
    }

    .navbar-brand {
        justify-content: center !important;
    }

    #header-logo {
        max-height: 40px;
        max-width: 40px;
    }

    .header .nav-title-1 {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
    }

    .header .nav-title-2 {
        font-weight: 500;
        font-size: 12px;
    }

    .header .nav-link {
        font-size: 12px;
        text-align: right;
    }

    .carousel-caption .display-4 {
        margin-top: 0;
        font-size: 20px;
    }

    .carousel-caption .lead {
        font-size: 14px !important;
        font-weight: 400;
    }

    /* Section Pendidikan */

    .section-title h2 {
        font-size: 20px !important;
    }

    .pendidikan .card {
        /* max-height: 200px; */
        height: 150px;
        margin: auto;
        padding: 5px !important;
    }

    .pendidikan .card-body-pendidikan {
        padding: 2px;
    }

    .card-body-pendidikan h4 {
        font-size: 14px;
    }

    /* Berita */
    .latest-news {
        padding: 15px !important;
    }

    .news span {
        font-size: 10px;
    }

    .news h6 {
        font-size: 16px !important;
        margin-bottom: 0;
    }

    .news small {
        font-size: 8px !important;

    }


    .section-title-1 h2 {
        font-size: 20px !important;
    }

    .article-title h5 {
        font-size: 16px;
    }

    .article-title p {
        font-size: 12px;
    }

    .article-img img {
        height: 200px;
    }

    /* Footer */
    .widget-title {
        font-size: 20px;
    }

    .embed {
        display: none;
    }

    .medsos {
        text-align: center;
        margin: 15px auto;
    }

    .medsos .module-info {
        display: flex;
    }

    .module-info li {
        margin: 0 5px;
    }

}